$login-blue: #3d7cff;
$login-blue-faded: rgba($login-blue, 0.5);

$separator-gray: #ededef;
$background-gray: #eef1f7;
$text-gray: gray;
$background-dark-gray: #354251;

$black: #10131a;
$white: white;
