@import "../../assets/variables";

.settings {
  display: flex;
  flex-direction: column;
  padding-left: 40px;

  .api-keys-section {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    height: 20%;
    border-bottom: 1px solid $separator-gray;
    padding: 20px 80px;
    align-items: center;

    .text-secton {
      display: flex;
      flex-direction: column;
      flex: 1;
      .section-header {
        font-weight: bold;
        font-size: 18px;
      }

      .section-text {
        color: $text-gray;
      }
    }
  }
  .keys-list-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-bottom: 1px solid $separator-gray;
    padding: 20px 80px;

    .text-secton {
      display: flex;
      flex-direction: column;
      flex: 1;
      .section-header {
        font-weight: bold;
        font-size: 18px;
      }

      .section-text {
        color: $text-gray;
      }
    }

    .keys-list {
      display: flex;
      flex-direction: column;
      flex: 2;

      .key-item {
        display: flex;
        padding: 8px 16px;
        border: 1px solid $separator-gray;
        border-radius: 10px;
        margin-top: 16px;
        background-color: $white;
        align-items: center;

        .delete-key-button {
          color: red;
          margin-left: 4px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .add-keys-container {
    display: flex;
    flex-direction: column;
    flex: 2;

    .add-key {
      display: flex;
      margin-top: 8px;
      gap: 8px;
      align-items: center;

      input {
        border: 1px solid $separator-gray;
        padding: 8px 16px;
        width: 50%;
        border-radius: 10px;
      }

      .add-key-button {
        font-weight: 500;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
