@import "../../assets/variables";

.main-page {
  display: flex;
  flex-direction: column;
  padding: 40px;

  .company-profile-section {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    border-bottom: 1px solid $separator-gray;
    align-items: center;

    .left-side {
      display: flex;
      flex-direction: column;
      .section-header {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 8px;
      }

      .section-text {
        color: $text-gray;
      }
    }

    .right-side {
      display: flex;
      gap: 16px;
      justify-content: flex-end;

      .cancel-button,
      .save-button {
        padding: 8px 24px;
        border: 1px solid $separator-gray;
        border-radius: 10px;
        font-weight: 500;
        display: flex;
        align-items: center;

        &:hover {
          cursor: pointer;
        }
      }

      .save-button {
        color: $white;
        background-color: $background-dark-gray;

        &:hover {
          color: $background-dark-gray;
          background-color: $white;
        }
      }

      .cancel-button {
        &:hover {
          color: $white;
          background-color: $background-dark-gray;
        }
      }
    }
  }

  .public-profile-section {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    border-bottom: 1px solid $separator-gray;
  }

  .left-side {
    flex: 1;
    display: flex;
    flex-direction: column;

    .section-header {
      font-weight: bold;
      margin-bottom: 8px;
    }

    .section-text {
      color: $text-gray;
    }
  }

  .right-side {
    flex: 2;
    .app-name {
      font-weight: bold;
      margin-bottom: 8px;
      padding: 6px 16px;
      background-color: $white;
      border: 1px solid $separator-gray;
      border-radius: 5px;
      display: block;
    }

    .link-section {
      display: flex;
      align-items: center;
      gap: 8px;
      .link-field,
      .link-name {
        background-color: $white;
        border: 1px solid $separator-gray;
        padding: 6px 16px;
        display: block;
        flex: 1;
        border-radius: 5px;
      }

      .link-name {
        font-weight: bold;
      }
    }
  }

  .tagline {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    border-bottom: 1px solid $separator-gray;

    .left-side {
      .header {
        font-weight: bold;
        margin-bottom: 8px;
      }

      .text {
        color: $text-gray;
      }
    }

    .text-field {
      border-color: $separator-gray;
    }
  }

  .logo-section {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    border-bottom: 1px solid $separator-gray;

    .text-section {
      display: flex;
      flex-direction: column;
      flex: 1;
      .header {
        font-weight: bold;
        margin-bottom: 8px;
      }

      .text {
        color: $text-gray;
      }
    }

    .logo {
      flex: 1;
      font-weight: bold;
      font-size: 18px;
      display: flex;
      justify-content: center;
    }

    .input-field {
      flex: 1;
      border: 1px solid $separator-gray;
      border-radius: 10px;
      height: 100px;
      padding: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .input-button {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        justify-content: center;
        display: flex;
        align-items: center;
        background-color: $separator-gray;
      }
    }
  }

  .branding-section {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    width: 50%;

    .left {
      display: flex;
      flex-direction: column;
      .header {
        font-weight: bold;
        margin-bottom: 8px;
      }

      .text {
        margin-bottom: 12px;
      }

      .examples {
        font-weight: bold;

        &:hover {
          cursor: pointer;
          color: $separator-gray;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;

      .checkbox-section {
        display: flex;
        flex-direction: row;

        .checkbox {
          align-self: flex-start;
        }

        .text-container {
          margin-left: 8px;
          display: flex;
          flex-direction: column;
          margin-bottom: 8px;

          .header {
            font-weight: bold;
          }

          .text {
            color: $text-gray;
          }
        }
      }
    }
  }
}
