@import "../../assets/variables";

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20vh;

  .navigation-section {
    display: flex;
    flex: 4;
    align-items: center;
    justify-content: space-between;

    .logo-section {
      text-decoration: none;
      color: $black;
      .logo-text {
        font-size: 18px;
        font-weight: bold;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .nav-button {
      text-decoration: none;
      color: $black;
      font-weight: bold;
      border-bottom: 2px solid transparent;

      &:hover {
        cursor: pointer;
        border-bottom: 2px solid $black;
      }
    }
  }

  .user-section {
    display: flex;
    flex: 3;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;

    .upgrade-button {
      align-items: center;
      display: flex;
      padding: 8px 12px;
      border: 1px solid $separator-gray;
      border-radius: 5px;
      font-weight: 500;

      &:hover {
        cursor: pointer;
        background-color: $background-gray;
      }
    }

    .settings-button {
      text-decoration: none;
      color: $black;
      width: 35px;
      height: 35px;
      background-color: $background-gray;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
        background-color: inherit;
      }
    }

    .notifications-icon {
      &:hover {
        cursor: pointer;
      }
    }

    .user-image {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      object-fit: cover;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
